@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Noto+Sans+KR&display=swap");

$bgc: #f6f8fa;
$black: #24292f;
$blue: #0969da;
$white: #fff;
$line-gray: #d3d3d3;
$red: #ff4949;
$green: #13ce66;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  @include flex-center;
  justify-content: normal;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  background-color: $bgc;

  &::before {
    content: "@console.ryog";
    position: absolute;
    right: 50px;
    bottom: 50px;
    font-size: 14px;
    color: $line-gray;
  }
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: $blue;
  cursor: pointer;
}

input {
  padding: 10px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  &:focus {
    outline: none;
  }
}

header {
  h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 200px 0 110px;
  }
}

#welcome {
  text-align: center;

  span {
    display: block;
    font-weight: 500;
    margin-bottom: 40px;
    animation: move 1.5s alternate infinite;
  }

  div#input-wrap {
    position: relative;

    form input {
      width: 300px;
      height: 50px;
      border: 1.5px solid $line-gray;
      border-radius: 10px;
    }

    form button {
      position: absolute;
      padding: 10px;
      right: 0;

      i {
        font-size: 30px;
      }
    }
  }
}

#call {
  padding: 0 85px;

  #subject {
    button {
      font-size: 50px;
      margin: 50px 0;

      i {
        font-size: 50px;
      }
    }

    #subject-title {
      padding: 0 10px;
      margin-bottom: 50px;
      font-size: 40px;
      font-weight: 700;
    }
  }

  #video-wrap {
    margin-bottom: 80px;
  }

  #stream-tools {
    @include flex-center;
    flex-direction: column;

    select {
      width: 360px;
      height: 50px;
      margin-bottom: 40px;
      border: 1.5px solid #d3d3d3;
      border-radius: 10px;
    }

    #stream-btns {
      display: flex;

      button {
        border: none;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        &#mute {
          background-color: $green;
          margin-right: 30px;
        }
        &#camera {
          background-color: $red;
        }

        i {
          font-size: 34px;
          color: $white;
        }
      }
    }
  }
}

@keyframes move {
  100% {
    transform: translateY(10px);
  }
}
